[submodule "Vundle.vim"]
	path = Vundle.vim
	url  = https://github.com/VundleVim/Vundle.vim
[submodule "vim-colorscheme-elive"]
	path = vim-colorscheme-elive
	url = https://github.com/Elive/vim-colorscheme-elive
[submodule "vim-clang"]
	path = vim-clang
	url = https://github.com/LucHermitte/vim-clang
[submodule "vim-matchit"]
	path = vim-matchit
	url = https://github.com/Spaceghost/vim-matchit
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "jacinto.vim"]
	path = jacinto.vim
	url = https://github.com/alfredodeza/jacinto.vim
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimux"]
	path = vimux
	url = https://github.com/benmills/vimux
[submodule "base16-vim"]
	path = base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "gitv"]
	path = gitv
	url = https://github.com/gregsexton/gitv
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim-github-dashboard"]
	path = vim-github-dashboard
	url = https://github.com/junegunn/vim-github-dashboard
[submodule "mustache.vim"]
	path = mustache.vim
	url = https://github.com/juvenn/mustache.vim
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim-jsbeautify"]
	path = vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
[submodule "vim-indent-object"]
	path = vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "ack.vim"]
	path = ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai
[submodule "vim-endwise"]
	path = vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim-fireplace"]
	path = vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "vim-haml"]
	path = vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-speeddating"]
	path = vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "easybuffer.vim"]
	path = easybuffer.vim
	url = https://github.com/troydm/easybuffer.vim
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-ruby"]
	path = vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "YankRing.vim"]
	path = YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "scratch.vim"]
	path = scratch.vim
	url = https://github.com/vim-scripts/scratch.vim
[submodule "vim-hybrid"]
	path = vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "vim-kolor"]
	path = vim-kolor
	url = https://github.com/zeis/vim-kolor
[submodule "vim-devicons"]
	path = vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim-im"]
	path = vim-im
	url = git@github.com:yuweijun/vim-im.git
[submodule "vim-space"]
	path = vim-space
	url = https://github.com/yuweijun/vim-space.git
