[submodule "Vundle.vim"]
	path = Vundle.vim
	url  = https://github.com/VundleVim/Vundle.vim
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim-jsbeautify"]
	path = vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
[submodule "ack.vim"]
	path = ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai
[submodule "vim-endwise"]
	path = vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "unicode.vim"]
	path = unicode.vim
	url = https://github.com/chrisbra/unicode.vim.git
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-hexo"]
	path = vim-hexo
	url = https://github.com/yuweijun/vim-hexo.git
[submodule "vim-space"]
	path = vim-space
	url = https://github.com/yuweijun/vim-space.git
[submodule "vim-wb"]
	path = vim-wb
	url = https://github.com/yuweijun/vim-wb.git
